[package]
name = "ootrstats-worker-windows-service-installer"
version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
directories = "6.0.0"
windows-service = "0.8"
