<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>net.fenhl.ootrstats</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/fenhl/.cargo/bin/ootrstats-worker-daemon</string>
        </array>
        <key>UserName</key>
        <string>fenhl</string>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
    </dict>
</plist>
